bower_components
.lock-wscript
build/Release
node_modules/
jspm_packages/
web_modules/
*.tsbuildinfo
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
.env
.env.test
.env.prod
.cache
.parcel-cache
.nuxt
node_modules
dist
.cache/
.idea
/idea
./idea
database_data/
build/
nerd*
*.tar.gz
