@import "../../../styles/variables";

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 510px;
  padding: 60px 0 109px 0;
}

.settings__avatar-container {
  width: 130px;
  height: 130px;
  background-image: url(../../static/images/avatar_default.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.settings__avatar-button {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 10;
  border: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: $text__color-white;
  opacity: 0;

  &:hover{
    opacity: 0.7;
  }
}

.settings__avatar {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  cursor: pointer;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &:after {
    content: '';
    position: absolute;
    height: 130px;
    width: 130px;
    left: 50%;
    top: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
    background-image: url(../../static/images/Q2RE.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
  }
}

.settings__avatar_type_main{
  cursor: auto;
}

.settings__user-name {
  font-size: 16px;
  line-height: 16px;
  color: $text__color;
  box-shadow: rgba(0, 0, 0, 0.25);
  margin: 0;
  padding: 21px 0 0 0;
}

.settings__form-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-top: 10px;
  width: 100%;
  padding-bottom: 50px;

  &_padding-up {
    padding: 97px 0 152px 0;
  }
}

.settings__input-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.settings__input-container {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.settings__input-container:not(:last-of-type) {
  border-bottom: 1px solid $border__color;
}

.settings__label {
  color: $text__color;
  font-size: 13px;
  line-height: 13px;
  font-style: normal;
  font-weight: normal;
}

.settings__input {
  border: none;
  text-align: right;
  color: $text__color-gray;

  &::placeholder {
    text-align: right;
    color: $text__color-gray;
  }
}

.settings__input-error {
  font-size: 8px;
  line-height: 8px;
  color: $text__color-error;
  text-align: end;
}

.settings__button-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;

  &_type-save {
    align-items: center;
    margin-top: 150px;
  }
}

.settings__button-border-container:not(:last-of-type) {
  border-bottom: 1px solid $border__color;
  width: 100%;
}

.settings__button {
  color: $action-element__background-color;
  font-size: 13px;
  line-height: 13px;
  border: none;
  cursor: pointer;
  padding: 10px 0;
  background: transparent;
  transition: all .5s ease;

  &:hover {
    opacity: 0.7;
  }

  &_type-save {
    max-width: 280px;
    width: 100%;
    height: 37px;
    background-color: $action-element__background-color;
    color: $text__color-white;
    border-radius: 8px;
    cursor: pointer;
    transition: all .5s ease;

    &:hover {
      opacity: 0.7;
    }
  }
}

.settings__button_warning {
  color: $text__color-error;
}

.settings__link {
  position: fixed;
  display: flex;
  width: 100%;
  max-width: 64px;
  top: 0;
  left: 0;
  height: 100%;
  border-right: 1px solid $border__color;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: rgba(51, 105, 243, 0.15);
  }
}

.settings__link-img {
  width: 28px;
  height: 28px;
  background-image: url(../../static/images/arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
