html(lang="ru")
<<<<<<< HEAD
  include header.pug
=======
  head
    include header.pug
>>>>>>> 567fbabb93eb8a3590c8f6bb2c9e618e5ce78b05
    title= 404
  body
    div.error
      h1 404
      h2 Вы всё сломали(
<<<<<<< HEAD
      a(href="./chats.pug") Назад к чатам 
=======
      a(href="./chats.html") Назад к чатам 
>>>>>>> 567fbabb93eb8a3590c8f6bb2c9e618e5ce78b05
