extends ../components/header/header
block templates
  - const pageTitle = "Страница не найдена - 404"
  - const style = "../styles/error.sass"
block content
<<<<<<< HEAD
  include ../components/main/main
=======
  include ../components/main/main 
>>>>>>> 4c84c73e82371cfc4989c06f35afb88d265de301
    script(type="module" src="../../src/components/Errors/Error404/index.ts")


