html(lang="ru")

  include header.pug
    link(href="../styles/style.sass", rel="stylesheet", type='text/css')
    title= 500
  body
    div.error
      h1 500
      h2 Скоро мы это исправим
      a(href="./chats/chats.pug") Назад к чатам 

