<<<<<<< HEAD
html(lang="ru")
  include header.pug
    link(rel="stylesheet", href="../styles/chats.sass")
    title= "Чат"
=======
mixin list(id, ...items)
    ul(id= id)
      each item in items
        li 
          a(href="./404.html")  
            img.avatar(src="../../static/img/img_chats.png", alt="Фото профиля")
            p.profile_name Имя пользователя 
              span= item
            p.date_message Пт
            p.last_message Последнее сообщение 
              span= item 
html(lang="ru")
  head
   include header.pug
>>>>>>> 567fbabb93eb8a3590c8f6bb2c9e618e5ce78b05
  body
    div#left_column
      div.profile
        img.avatar(src="../../static/img/img_chats.png", alt="Фото профиля")
        div 
          p Zenzuk
          a(href="#") Избранное 
<<<<<<< HEAD
        a(href="./profile.pug") Профиль>
      input#search(type="search", placeholder="Поиск")
      div.chats_column
        include dialogs.pug
=======
        a(href="./profile.html") Профиль>
      input#search(type="search", placeholder="Поиск")
      div.chats_column
        +list("chats", 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13)
>>>>>>> 567fbabb93eb8a3590c8f6bb2c9e618e5ce78b05
          
    div#right_column
      #menu_top 
        img.avatar(src="../../static/img/img_chats.png", alt="Фото профиля")
        p Имя пользователя
        div.mobile_menu
          ul 
            li  
              img(src="../../static/img/menu.png", alt="")
              div 
              ul 
                li
                  a(href="#")  Добавить пользователя
                li 
                  a(href="#")  Удалить пользователя
                li  
                  a(href="#")  Посмотреть материалы беседы 
      #history 
      #create_message
        #download_file
          ul 
            li  
              div 
              img(src="../../static/img/download.png", alt="")
              ul 
                li
                  a(href="#")  Фото или видео
                li 
                  a(href="#")  Файл
                li  
                  a(href="#") Локация 
        
        input#message(type="text" placeholder="Сообщение")  
        input#send_message(type="button" value=">") 