extends ../components/header/header
block templates
  - const pageTitle = "Сообщения"
  - const style = "../styles/style.sass"
block content
  include ../components/main/main
    script(type="module" src="../../src/components/Chat/Chat/index.ts")