mixin list(id, ...items)
    ul(id= id)
      each item in items
        li 
          a(href="./404.pug")  
            img.avatar(src="../../static/img/img_chats.png", alt="Фото профиля")
            p.profile_name Имя пользователя 
              span= item
            p.date_message Пт
            p.last_message Последнее сообщение 
              span= item 
+list("chats", 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13)