<<<<<<< HEAD
head
    meta(charset="utf-8")
    link(href="https://fonts.googleapis.com/css2?family=Inter", rel="stylesheet", type='text/css')
    link(href="../styles/style.sass", rel="stylesheet", type='text/css')
=======
meta(charset="utf-8")
link(href="https://fonts.googleapis.com/css2?family=Inter", rel="stylesheet", type='text/css')
script(src='../modules/styles.js' type="module")
>>>>>>> 567fbabb93eb8a3590c8f6bb2c9e618e5ce78b05
