extends ../components/header/header
block variables
  - const pageTitle = "Messenger"
  - const style = "../styles/index.scss"
block content
  include ../components/main/main
  script(type="module" src="../../src/pages/index.ts")
