extends ../components/header/header
block variables 
  - const pageTitle = "Сообщения"
  - const style = "../styles/style.sass"
block content
  include ../components/main/main
  script(type="module" src="../../src/pages/index.ts") 