extends ../components/header/header
block templates
  - const pageTitle = "Профиль"
  - const style = "../styles/settings.sass"
block content
  include ../components/main/main
    script(type="module" src="../../src/components/Profile/Settings/index.ts")
  