extends ../components/header/header
block templates
  - const pageTitle = "Регистрация в Zenzuk"
  - const style = "../styles/registration.sass"
block content
  include ../components/main/main
    script(type="module" src="../../src/components/Registration/index.ts")
   
  